.home {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  align-content: center;
  justify-content: center;
  margin-top: 6rem;
}
.home-row {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 0;
}
.new-signup-discount {
  width: 100%;
  align-self: center;
}
.sale-poster {
  width: 50%;
}
.coupon-surprises {
  width: 100%;
}
.new-user-coupons {
  width: 50%;
}
.crazy-deals {
  width: 100%;
}
.home-ads{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
.home-ads img {
  width: 18.98rem;
}

.heading {
  font-size: 29px;
  font-weight: 600;
  align-self: flex-start;
 
  padding-left: 50px;
}
.all-category {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
.all-category > img {
  width: 15.6rem;
  height: 18.1rem;
  cursor: pointer;
}
.download-app {
  width: 100%;
}
