/* product listings */
.product {
  height: 27rem;
  width: 12.75rem;
  margin: 10px;
  background-color: #fff;
  align-items: center;
  justify-content: center;
  padding: 5px;
}
.product:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  
}

.product img {
  height: 15rem;
  width: 11.75rem;
  position: relative;
  margin: 0;
}

.product___info {
  display: block;
  height: 100px;
}
.product > button {
  background: #ffffff;
  border: 1px solid;
  margin-top: 10px;
  border-color: lightgray;
  margin-left: 8px;
  color: #ff3e6c;
  cursor: pointer;
  border-radius: 3px;
  font-weight: 550;
  font-size: 13px;
}
.title {
  font-size: 16px;
  font-weight: 600px;
  height: 12px;
}
.product_price strong{
  margin-right: 5px;
}
.description {
  font-size: 14px;
  margin: 0;
}
.product_rating {
  display: flex;
  flex-direction: row;
  z-index: 5;
  top: 4%;
  left: 20%;
  transform: translate(5%, -100%);
  font-size: 10px;
}
